# HELP FILE
HELP.md

# Maven build
target/
.mvn/wrapper/maven-wrapper.jar

# Prevent nested target folders from being committed
!**/src/main/**/target/
!**/src/test/**/target/

# ---------------------------
# CACHE FILES (IMPORTANT)
# ---------------------------
.cache/
*.cache
.cache-loader
.sass-cache
.eslintcache

# Java / Spring Boot
*.log
*.class
*.jar
*.war
*.ear

# ---------------------------
# STS (Spring Tool Suite)
# ---------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ---------------------------
# IntelliJ IDEA
# ---------------------------
.idea/
*.iws
*.iml
*.ipr
out/

# ---------------------------
# NetBeans
# ---------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# OS FILES
# ---------------------------
.DS_Store
Thumbs.db